.navigation {
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(149, 75, 192);
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04aa6d;
}

.parent {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.child1 {
    width: 33vw;
    height: 40vh;
    background-color: violet;
}

.child2 {
    width: 33vw;
    height: 40vh;
    background-color: blue;
}

.child3 {
    width: 33vw;
    height: 40vh;
    background-color: brown;
}

img {
    width: 33vw;
    height: 40vh
}